body {
    background: #fffdca;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40 px;
}
h1 {
    color: #d45a76;
    text-align: center;
}

.projects {
     display:flex;
     flex-wrap:wrap; 
} 
.project {
    width: 35%;
    margin: 20px;
    background: white; /* pick a color */
    border-radius: 30%;
}

img{
    height: 300px;
    width: 420px;
    margin: 10px;
    border: 3px;
    display: block;
    margin: auto;
}

.project p{
    text-align:center;
    margin:15px;
}
