@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mochiy+Pop+One&display=swap');

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

p{
    font-size: 30px;
    color: #666464;
    font-family: "Cabin", sans-serif;
}

h1 {
    font-family: "Mochiy Pop One", sans-serif;
    margin-bottom: 10px;
    font-style: normal;
}