@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


.cabin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


p{
    font-size: 25px;
    color: #666464;
    font-family: "Cabin", sans-serif;
}

h1 {
    font-size: 50px;
    color: #eb4c4c;
    font-family: "Archivo Black", sans-serif;
    margin-bottom: 10px;
    font-style: normal;
}